header {
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 1rem;
  padding-top: 1rem;

  #logo {
    padding-top: .5rem;
  }

  nav {


    .active {}
  }

  #auth {
    .btn {
      font-size: .875rem;
    }
  }

}